Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [1]:
import pandas as pd

In [8]:
df_city_bikes = pd.read_csv('../data/city_bikes.csv')
df_city_bikes

    Unnamed: 0                    name  free_bikes   latitude  longitude
0            0           01. Curtatone           0  43.321600  11.327948
1            1         02. S. Agostino           0  43.314554  11.331021
2            2         03. S. Girolamo           3  43.316539  11.337212
3            3            04. Fortezza           0  43.320523  11.323225
4            4           05. Antiporto           0  43.328983  11.321913
5            5           06. Due Ponti           4  43.317187  11.354256
6            6              07. Napoli           1  43.341757  11.305010
7            7            08. Ospedale           0  43.343243  11.326733
8            8          09. Acquacalda           0  43.336999  11.300975
9            9          10. Ravacciano           1  43.323781  11.338891
10          10          11. S. Miniato           4  43.347800  11.326046
11          11        12. Terminal Bus           2  43.332288  11.324176
12          12           14. Vico Alto           0  43.341445  11.312348
13          13  15. Casa dell'Ambiente           1  43.326764  11.333702
14          14             16. Frajese           9  43.309896  11.315263
15          15             17. Mercato           0  43.317315  11.332998
16          16                18. Tufi           3  43.296856  11.334854
17          17         13. Calamandrei           0  43.343407  11.322849
18          18           19. Petriccio           0  43.334640  11.304803

In [5]:
df_foursquare_yelp = pd.read_csv('../data/foursquare_yelp.csv')
df_foursquare_yelp.head()

,Unnamed: 0,name,address,category,rating
0,0,Pizzeria Alle Scalette,Viale Curtatone 18,Pizzeria,NaN
1,1,Piazza Giacomo Matteotti,Piazza Giacomo Matteotti,Plaza,NaN
2,2,Basilica di San Domenico,Piazza San Domenico,Church,NaN
3,4,Caffè La Piazzetta,Via Montanini 52,Bar,NaN
4,5,Consorzio Agrario di Siena,Via Pianigiani Giuseppe 9,Grocery Store,NaN

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [7]:
df_merge = pd.merge(df_city_bikes, df_foursquare_yelp)
df_merge.head()

Empty DataFrame
Columns: [Unnamed: 0, name, free_bikes, latitude, longitude, address, category, rating]
Index: []

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [ ]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

Look at the data before and after the join to validate your data.